html, body {
    overflow: hidden;
    background-color: black !important;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

canvas {
    display: block;
    width: min(100vh, 100vw);
    height: min(100vh, 100vw);
}

/* Display none and same for descendants */
.hidden * {
	display: none !important;
}
.hidden {
	display: none !important;
}

#flex-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

#login {
    width: 100vw;
    height: 100vh;
    align-items: center;

    display: flex;
    justify-content: center;
    background-color: black;
}

#login-card {
    background-color: white;
    border-radius: 0.5em;
    padding: 1em;
}

#login input {
    margin-bottom: 0.5em;
}

#logout-button {
    position: absolute;
    margin: 1em;
}